include sparcs/sparcs_worfklow/envs/*
include sparcs/sparcs_worfklow/rules/*
include sparcs/sparcs_worfklow/scripts/*
include sparcs/sparcs_worfklow/sparcs.smk
include sparcs/sparcs.py
include sparcs/sparcs_utils.py